@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #131424;
}

main {
  background: #131424;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #7fffd4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
