@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #131424;
}

main {
  background: #131424;
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
